@tailwind base;
@tailwind components;
@tailwind utilities;


    @keyframes color-change {
      0% {
        color: black; /* Initial color */
       
      }
      50% {
        color: peru; /* Intermediate color */
        font-weight: bolder;
        text-decoration: underline;
       
      }
      100% {
        color: black; /* Final color */
       
      }
    }
  
    .animate-color-change {
      animation: color-change 2s infinite; /* 2 seconds animation, repeat indefinitely */
    }
 
  